@use './shared/_colors.scss' as v;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

%shiny {
    color: v.$theme-color-primary;
    text-transform: capitalize;
}

.App-header {
    @extend %shiny;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.carousel-images {
    border-radius: 10px;
    height: 400px;
    margin: auto;
    max-width: 650px;
    overflow: hidden;
    position: relative;

    img {
        border: 2px solid v.$theme-color-primary;
        border-radius: 8px;
        height: 99%;
        width: 99%;
    }
}

.slide_direction {
    display: flex;
    justify-content: space-between;

    button {
        background-color: v.$theme-color-primary;
        border: 1px solid v.$theme-color-primary;
        border-radius: 50%;
        bottom: 0;
        color: v.$white;
        cursor: pointer;
        display: block;
        height: 40px;
        margin: 0 20px;
        margin: auto 10px;
        padding: 10px 8px 8px 13px;
        position: absolute;
        top: 0;
        width: 40px;

        &:hover,
        &:focus {
            background-color: rgba(v.$theme-color-primary, .75);
            border-color: v.$dot-color;
        }

        svg path {
            fill: v.$white;
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

.carousel-indicator {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

    .dot {
        background-color: v.$dot-color;
        border: 1px solid v.$dot-color;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 15px;
        width: 15px;

        &:hover,
        &:focus {
            background-color: rgba(v.$theme-color-primary, .75);
            border-color: v.$dot-color;
        }

        &.active {
            background-color: v.$theme-color-primary;
        }
    }
}